@model CUD272ClassTutorial.Models.TeamStatsModel;
<div class="text-center">


    <div class="panel panel-primary">
        <div class="panel-body">
              Average number of goals at home: @Model.HomeAvgGoals
        </div>
    </div>

</div>
